<div class="card">
    <div class="flex flex-wrap justify-content-left gap-5">
        <span *ngFor="let qs of data">
            <span class="p-float-label" *ngIf="qs.questionDataType === 'text' || qs.questionDataType === 'number'">
                <input pInputText type="{{qs.questionDataType}}" id="{{qs.questionCode}}" [(ngModel)]="qs.answer" 
                pTooltip="{{qs.questionDataType}}"/>
                <label htmlFor={{qs.questionCode}}>{{qs.questionText}}</label>
            </span>
            <span class="p-float-label" *ngIf="qs.questionDataType === 'dropdown'">
                <p-dropdown id="{{qs.questionCode}}" pTooltip="{{qs.questionDataType}}" [options]="getdropdownOptions(qs.questionId)" appendTo="body" [(ngModel)]="qs.answer"
                                    [style]="{'width':'100%'}"></p-dropdown>
                <label htmlFor={{qs.questionCode}}>{{qs.questionText}}</label>
            </span>
            <span class="p-float-label" *ngIf="qs.questionDataType === 'date'">
                <p-calendar [(ngModel)]="qs.answer" [iconDisplay]="'input'" [showIcon]="true" id="{{qs.questionCode}}"></p-calendar>
                <label htmlFor={{qs.questionCode}}>{{qs.questionText}}</label>
            </span>
        </span>
    </div>
</div>
<div>
    <div>
        <p-toast></p-toast>
        <p-confirmDialog key="positionDialog" [position]="position"
            rejectButtonStyleClass="p-button-primary"></p-confirmDialog>
        <p-button (click)="confirmPosition('top')" [loading]="loading" label="Sumbit"
            styleClass="p-button-info"></p-button>
    </div>
</div>