.decor{
    border-radius: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    background-color: #d9d9d9;
    width: 20rem;
}

:host ::ng-deep .p-inputtext{
    border-radius: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    background-color: #d9d9d9;
    width: 20rem;
    box-shadow: inset 0 -1px 0 #ddd;
}

.table-card{
    box-shadow: 1px 1px 5px 1px #a0a8ab;
    // position: absolute;
    // top:55px;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}