<div class="table-card pt-5 p-3">
    <div class="flex flex-wrap justify-content-left gap-5">
        <span class="p-float-label">
            <input pInputText type="text" id="name" [(ngModel)]="entity.entityCode" pTooltip="Enter entity id?" disabled />
            <label htmlFor="name">Entity Id</label>
        </span>
        <span class="p-float-label">
            <input pInputText type="text" id="type" [(ngModel)]="entity.entityType" pTooltip="Enter entity type?" />
            <label htmlFor="type">Entity Type</label>
        </span>
        <span class="p-float-label">
            <input pInputText type="text" id="type" [(ngModel)]="entity.entityDescription" pTooltip="Enter entity owner?" />
            <label htmlFor="type">Entity Description</label>
        </span>
        <span class="p-float-label">
            <input pInputText type="text" id="type" [(ngModel)]="entity.entityName" pTooltip="Enter entity name?" />
            <label htmlFor="type">Entity Name</label>
        </span>
    </div>
    <div>
        <button class="btn btn-success" (click)="saveEntityDetails()">Save</button>
    </div>

    <!-- <div>
    <div>
        <p-toast></p-toast>
        <p-confirmDialog key="positionDialog" [position]="position"
            rejectButtonStyleClass="p-button-primary"></p-confirmDialog>
        <p-button (click)="confirmPosition('top')" [loading]="loading" label="Sumbit"
            styleClass="p-button-info"></p-button>
    </div>
</div> -->
    <div>
        <p-toast></p-toast>
        <p-table *ngIf="selectedEntity"  [value]="bookingProducts" dataKey="questionId" editMode="row" 
        [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12">
                        <h3 class="float-start">Booking Questionnaires</h3>
                        <button class="btn btn-sm btn-dark float-end" (click)="addQuestion('BOOKING')"><em class="pi pi-plus"></em> Add</button>
                        <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="addQuestion()"></p-button> -->
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr class="text-uppercase text-center">
                    <th style="width:5%" pFrozenColumn >Id</th>
                    <th style="width:10%">Question Code</th>
                    <th style="width:15%"> Question Text</th>
                    <th style="width:5%"> version</th>
                    <th style="width:15%">Description</th>
                    <th style="width:10%">DataType</th>
                    <th style="width:10%">Order Id</th>
                    <th style="width:10%">Active</th>
                    <th style="width:20%">Possible Answers</th>
                    <th style="width:10%" pFrozenColumn>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex" >
                <tr [pEditableRow]="product">
                    <td pFrozenColumn class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{product.questionId}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionId}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.questionCode" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionCode}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.questionText" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionText}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="product.questionVersion" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionVersion}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.questionDesc" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionDesc}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="dataTypes" appendTo="body" [(ngModel)]="product.questionDataType"
                                    [style]="{'width':'100%'}"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionDataType}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="product.columnOrderId" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.columnOrderId}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <div class="flex flex-wrap gap-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="pizza" value=true [(ngModel)]="product.isActiveInd"
                                            inputId="yesId"></p-radioButton>
                                        <label for="yesId" class="ml-2">Yes</label>
                                    </div>

                                    <div class="flex align-items-center">
                                        <p-radioButton name="pizza" value=false [(ngModel)]="product.isActiveInd"
                                            inputId="noId"></p-radioButton>
                                        <label for="noId" class="ml-2">No</label>
                                    </div>
                                </div>
                                <!-- <input pInputText type="radio" [(ngModel)]="product.isActiveInd" required> -->
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.isActiveInd===true?'Yes':'No'}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <span class="p-float-label">
                                    <textarea id="float-input" rows="5" cols="30" pInputTextarea
                                        [(ngModel)]="product.possibleAnswers"></textarea>
                                    <label for="float-input">answers in pipe(|) separated format</label>
                                </span>
                                <!-- <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="product.possibleAnswers"></textarea> -->
                                <!-- <input pInputText type="textarea" [(ngModel)]="product.possibleAnswers"> -->
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.possibleAnswers}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pFrozenColumn class="text-center">
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(product)"
                                class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(product, ri)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
        <p-table *ngIf="selectedEntity" [value]="vehicleProducts" dataKey="questionId" editMode="row" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12">
                        <h3 class="float-start">Vehicle Questionnaires</h3>
                        <button class="btn btn-sm btn-dark float-end" (click)="addQuestion('VEHICLE')"><em class="pi pi-plus"></em> Add</button>
                        <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="addQuestion()"></p-button> -->
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr class="text-uppercase text-center">
                    <th style="width:5%" pFrozenColumn >Id</th>
                    <th style="width:10%">Question Code</th>
                    <th style="width:15%"> Question Text</th>
                    <th style="width:5%"> version</th>
                    <th style="width:15%">Description</th>
                    <th style="width:10%">DataType</th>
                    <th style="width:10%">Order Id</th>
                    <th style="width:10%">Active</th>
                    <th style="width:20%">Possible Answers</th>
                    <th style="width:10%" pFrozenColumn>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="product">
                    <td pFrozenColumn class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{product.questionId}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionId}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.questionCode" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionCode}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.questionText" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionText}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="product.questionVersion" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionVersion}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.questionDesc" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionDesc}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="dataTypes" appendTo="body" [(ngModel)]="product.questionDataType"
                                    [style]="{'width':'100%'}"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionDataType}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="product.columnOrderId" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.columnOrderId}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <div class="flex flex-wrap gap-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="pizza" value=true [(ngModel)]="product.isActiveInd"
                                            inputId="yesId"></p-radioButton>
                                        <label for="yesId" class="ml-2">Yes</label>
                                    </div>

                                    <div class="flex align-items-center">
                                        <p-radioButton name="pizza" value=false [(ngModel)]="product.isActiveInd"
                                            inputId="noId"></p-radioButton>
                                        <label for="noId" class="ml-2">No</label>
                                    </div>
                                </div>
                                <!-- <input pInputText type="radio" [(ngModel)]="product.isActiveInd" required> -->
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.isActiveInd}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <span class="p-float-label">
                                    <textarea id="float-input" rows="5" cols="30" pInputTextarea
                                        [(ngModel)]="product.possibleAnswers"></textarea>
                                    <label for="float-input">answers in pipe(|) separated format</label>
                                </span>
                                <!-- <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="product.possibleAnswers"></textarea> -->
                                <!-- <input pInputText type="textarea" [(ngModel)]="product.possibleAnswers"> -->
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.possibleAnswers}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pFrozenColumn class="text-center">
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(product)"
                                class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(product, ri)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
        <p-table *ngIf="selectedEntity" [value]="driverProducts" dataKey="questionId" editMode="row" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-12">
                        <h3 class="float-start">Driver Questionnaires</h3>
                        <button class="btn btn-sm btn-dark float-end" (click)="addQuestion('DRIVER')"><em class="pi pi-plus"></em> Add</button>
                        <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="addQuestion()"></p-button> -->
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr class="text-uppercase text-center">
                    <th style="width:5%" pFrozenColumn >Id</th>
                    <th style="width:10%">Question Code</th>
                    <th style="width:15%"> Question Text</th>
                    <th style="width:5%"> version</th>
                    <th style="width:15%">Description</th>
                    <th style="width:10%">DataType</th>
                    <th style="width:10%">Order Id</th>
                    <th style="width:10%">Active</th>
                    <th style="width:20%">Possible Answers</th>
                    <th style="width:10%" pFrozenColumn>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="product">
                    <td pFrozenColumn class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{product.questionId}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionId}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.questionCode" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionCode}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.questionText" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionText}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="product.questionVersion" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionVersion}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.questionDesc" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionDesc}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="dataTypes" appendTo="body" [(ngModel)]="product.questionDataType"
                                    [style]="{'width':'100%'}"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.questionDataType}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="product.columnOrderId" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.columnOrderId}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <div class="flex flex-wrap gap-3">
                                    <div class="flex align-items-center">
                                        <p-radioButton name="pizza" value=true [(ngModel)]="product.isActiveInd"
                                            inputId="yesId"></p-radioButton>
                                        <label for="yesId" class="ml-2">Yes</label>
                                    </div>

                                    <div class="flex align-items-center">
                                        <p-radioButton name="pizza" value=false [(ngModel)]="product.isActiveInd"
                                            inputId="noId"></p-radioButton>
                                        <label for="noId" class="ml-2">No</label>
                                    </div>
                                </div>
                                <!-- <input pInputText type="radio" [(ngModel)]="product.isActiveInd" required> -->
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.isActiveInd}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <span class="p-float-label">
                                    <textarea id="float-input" rows="5" cols="30" pInputTextarea
                                        [(ngModel)]="product.possibleAnswers"></textarea>
                                    <label for="float-input">answers in pipe(|) separated format</label>
                                </span>
                                <!-- <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="product.possibleAnswers"></textarea> -->
                                <!-- <input pInputText type="textarea" [(ngModel)]="product.possibleAnswers"> -->
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.possibleAnswers}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pFrozenColumn class="text-center">
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(product)"
                                class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(product, ri)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>