::ng-deep .p-datatable .p-datatable-thead > tr > th{
    color: #131314;
    font-size: 14px !important;
    border-bottom: 1px solid #efefef !important;
    padding: 10px 3px;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    font-size: 12px !important;
    border-bottom: 1px solid #efefef !important;
    // border-left: 1px solid #efefef !important;
    padding: 10px 3px;
}
.table-card{
    box-shadow: 1px 1px 5px 1px #a0a8ab;
}
.custom-filter-btn:hover{
    color: #ffffff !important;
    background-color: #6D5BD0 !important;
}

:host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;
    
        .p-progressbar-value {
            background-color: #607D8B;
        }
    }
}

:host ::ng-deep {
    .speeddial-linear-demo {

        .p-speeddial-direction-right {
            left: 0;
            top: calc(50% - 2rem);
        }
    }
}