<div class="table-card p-3">
  <p-table [columns]="cols" [value]="products">
    <ng-template pTemplate="caption">
      <div class="align-items-center justify-content-between">
        <button class="btn btn-sm mb-1 custom-filter-btn" style="color: #6D5BD0;
        border-color: #6D5BD0;">
          <i class="pi pi-filter-fill"></i> Filter
        </button>
        <span class="p-input-icon-left ms-3">
          <i class="pi pi-search me-2" style="color: #6D5BD0;"></i>
          <input type="text" placeholder="Search" class="form-control-sm" style="color: #6D5BD0;
          border: 1px solid #6D5BD0; border-radius: 5px;"/>
      </span>
      <button class="btn btn-sm" style="color: #f0eff3;
        background-color: #6D5BD0; float: right;">
          SEND REMAINDER
        </button>
        <hr>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header.toUpperCase() }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr >
            <td *ngFor="let col of columns">
                <span *ngIf="col.field !==  '#'">{{ rowData[col.field] }}</span>
                <span *ngIf="col.field ===  '#'"><em class="pi pi-ellipsis-v"></em></span>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>