.top-left{
    position: absolute; 
    top: 40px; 
    left: 70px; 
    color: white;
    font-size: 2.5rem;
    font-family: "Times New Roman", Times, serif;
}

.bottom-left{
    position: absolute; 
    bottom: 40px; 
    right: 70px; 
    color: white;
    font-size: 2.5rem;
    font-family: "Times New Roman", Times, serif;
}