
<div class="row m-2">
        <div class="col-12 me-5" *ngIf="entities.length > 0">
                <p-dropdown [options]="entities" [(ngModel)]="selectedEntity" optionLabel="label" (onChange)="headerDropdownChanged()" placeholder="Select entity"></p-dropdown>
        </div>
        <div class="col-12 mt-2" *ngIf="pData">
                <app-ru-form
                [data]="pData"
                [loading]="pLoading"
                [optionsMap]="pOptionsMap"
                [radioOptionsMap]="pRadioOptionsMap"
                [checkboxOptionsMap]="pCheckboxOptionsMap"
                (postQuesAns)="getPostData($event)"></app-ru-form>
        </div>
</div>