// p {
//     text-overflow: ellipsis;
//     display: block;
//     width: 100%;
//     overflow: hidden;     
//     white-space: nowrap;
//     padding: 5px;
// }

.table-card{
    box-shadow: 1px 1px 5px 1px #a0a8ab;
    border: 0;
    border-radius: 0;
    // color: #9b9a9a;
}