<div class="row d-flex">
    <div class="col-3" *ngFor="let card of data">
        <div class="card"style="width: 99%; height:13rem; cursor: pointer;" (click)="routeToEntity(card.entityCode)">
            <div class="card-body">
                <div class="col-12 text-center">
                    <i class="pi pi-car text-center" style="font-size: 2.5rem;"></i>
                </div>
                <h5 class="card-title mt-2 p-0">{{card.entityName}}</h5>
                <div class="text-secondary">{{card.entityType}}</div>
              </div>
        </div>
        <!-- <p-card        
        [style]="{ width: '480px', height:'200px' }">
            <ng-template pTemplate="header"> -->
                <!-- <i class="pi pi-car" style="font-size: 2.5rem;margin-top:25px;margin-left: 30px;"></i> -->
                 <!-- <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" /> -->
            <!-- </ng-template>
            <div>
            <h4>{{card.entityName}}</h4>
            <h6>{{card.entityType}}</h6>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                esse, cupiditate neque
                quas!
            </p>
        </div> -->
            <!-- <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template> -->
        <!-- </p-card> -->
    </div>
    <div class="col-3">
        <div class="card" style="width: 99%; height:13rem;">
             <div class="card-body justify-content-center">
                 <button class="btn btn-outline-primary" (click)="routeToAddNewEntity()"><em class="pi-plus pi"></em> Add new entity</button>
             </div>
         </div>
    </div>
</div>